<!DOCTTYPE html>
{% block head %}
<head title="Gra">
    {#{% if isNow == false %}
    <meta http-equiv="Refresh" content="1" />
    {% endif %}#}
    <style>
        .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}



/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

    </style>
   </head>
   {% endblock %}

{% block body %}
<body onLoad=loadMe();>    

    Kto teraz:  {{name}}  <br />

    
    {% if Q != null %}
        {% if Q.id == myID %}
            <button type="button" onClick='document.getElementById("listCheckbox").style.display = "block";'>Q</button>
        
        {% else %}
            <p>{{Q.name}} ma damę</p>
        {%endif%}
    
    {%endif%}
    
    <A HREF="game/click" target="_self" id="card" style="pointer-events: none;"><IMG SRC="/cardsImage/{{image}}" ALT="{{image}}"></A>
    {#<img src="src/templates/cardsImage/{{image}}.jpg" alt="xD" >#}
    <a href='/room' target ='_self'>Wyjdz</a>

</body>    
{% endblock %}
<form style="display:none;" method="POST" action="game/selectUser" id="list" name="list">
<h1>Gracze</h1>
{%for player in players%}

    {%if player.id!=myID%}
<label class="container">{{player.name}}
  <input type="radio" name="player" value="{{player.id}}">
  <span class="checkmark"></span>
</label>
  {%endif%}
{%endfor%}
<input style="display:none;" name="cardID" value="{{cardID}}">
<button type ="submit">Wybierz</button>


</form>
<form style="display:none;" method="POST" action="game/selectManyUsers" id="listCheckbox" name="listCheckbox">
<h1>Gracze</h1>
{%for player in players%}

    {%if player.id!=myID%}
<label class="container">{{player.name}}
  <input type="checkbox" name="player{{player.id}}" value="{{player.id}}">
  <span class="checkmark"></span>
</label>
  {%endif%}
{%endfor%}
<input style="display:none;" name="cardID" value="{{cardID}}">
<button type ="submit">Wybierz</button>
</form>




{% block script %}
    <script>
    function loadMe() { 
        hasSeenNewCard();
        if ({{isNow}}==1){
        isReady();
        }
        if ( {{wasNow}}==1){
            if ({{cardID}}==2 || {{cardID}}== 4 || {{cardID}}==7 || {{cardID}}==9 || {{cardID}} ==10 || {{cardID}} ==8 ){
                setTimeout(function(){document.getElementById("list").style.display = "block";

            }, 5000);}
        else{}
            if ({{cardID}}==11){
                setTimeout(function(){ document.getElementById("listCheckbox").style.display = "block";}, 5000);
            }
            else{}
        }
    
    var myVar = setInterval(function(){fetch("http://gramy.test/room/{{roomID}}/game/selectUserJson")
    .then(resp => resp.json())
    .then(resp => {
         console.log(resp);
    
    if(resp==1){
        //clearInterval(myVar);
        var i=0;
        do{ if(i!=0){
              fetch("http://gramy.test/siutctvwiqukvayncwhev")  
        }
            i=1;
        alert("Pijesz!");
        
        }
     while(!confirm("A znak był?"));
    fetch("/room/{id}/game/changeIsReady");
    }
    
    })}, 2000);
    
    }
    function hasSeenNewCard(){
        setInterval(function(){fetch("http://gramy.test/room/{{roomID}}/game/isNewCard")
    .then(resp => resp.json())
    .then(resp => {
         //console.log(resp);
    
    if(resp==0){
        location.reload();
    }
    
    })}, 1000);
    }
    function isReady(){
        setTimeout(function(){setInterval(function(){fetch("http://gramy.test/room/{{roomID}}/game/isReady")
    .then(resp => resp.json())
    .then(resp => {
         //console.log(resp);
    
    if(resp==1){
        document.getElementById("card").style.pointerEvents = "";
    }
    
    })}, 1000);
            
    },5000);
    }
  </script>
{% endblock %}
</html>   

