
{% block head %}
<head> 
    {#<meta http-equiv="Refresh" content="1" />#}
</head>
<body onLoad="myFunction();" >
{% endblock %}
{% block title %}Room {{room.RoomName}}{% endblock %}

{% block body %}
    
  {% if id==room.admin %}
      <a href="/room/{{room.id}}/game" type = "button">Start</a>
  {% endif %} 
  {#{% if players %}
    <table id="rooms" class="table table-striped">
      <thead>
        <tr>
          
          <th>Players in room</th>
          
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
            {% if player.WhichRoom == room %}
                <tr><td>{{player.Name}}</td></tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No players to display</p>
  {% endif %}
  #}
    <table id="players_table">
    
    </table>
  
{% endblock %}

{% block javascripts %}
    <script>
  function myFunction(){ 
      var table = document.getElementById("players_table");
  
      setInterval(function(){
    fetch("http://gramy.test/room/{{room.id}}/view/json")
    .then(resp => resp.json())
    .then(resp => {
         //console.log(resp);
        
                console.log(resp.length);
                console.log(table.rows.length);
            if(resp.length!=table.rows.length){
                table.innerHTML="";
        resp.forEach(user => {
            var newRow = table.insertRow(table.length);
            newRow.innerHTML = user.Name;
        }      
            )}
    })},1000);

    setInterval(function(){
    fetch("http://gramy.test/room/{{room.id}}/game/start")
    .then(resp => resp.json())
    .then(resp => {
         //console.log(resp);
        if(resp==1){
            window.location="http://gramy.test/room/{{room.id}}/game/";
        }
                
            
    })},1000);
    }
 {#       fetch("http://gramy.test/room/10/view/json")
    .then(resp => resp.json())
    .then(resp => {
        console.log(resp);

        resp.forEach(user => {
            console.groupCollapsed(`Użytkownik ${user.id}`)
            console.log(`Nazwa: ${user.Name}`);
            
            console.groupEnd();
        })
    })#}

    </script>
        
        
{% endblock %}