<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>AlkoKarty</title>
  <!-- Favicon -->
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/assets/css/argon.css?v=1.0.1" rel="stylesheet">
 
</head>

<body onLoad="myFunction();">
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
      <div class="container">
        
           <img class="navbar-brand mr-lg-5" src="/logo/logo4.png"  height = "60">
       
                  
        
      </div>
    </nav>
  </header>
  <main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
               
              <table class="table table-bordered table-striped" id="players_table">
          <thead>
            <tr>
              <th> Lista graczy w pokoju: {{room.RoomName}}</th>

              
            </tr>
          </thead>
          <tbody>
              {%for player in players%}
            <tr>
              <th class="text-nowrap" scope="row">{{player.name}}</th>
               
              
            </tr>
            {%endfor%}
           
          </tbody>
        </table>
             {%if id==room.admin%}
                  <form action="/room/{{room.id}}/startTheGame" method ="POST" id="howManyCards">
                  <div class="form-group">
                    <input type="text" class="form-control" name="howManyCards" placeholder="ilosc kart (1-52)" >
                    
                  </div><button class="btn btn-primary btn-lg active" type="submit" aria-pressed="true">START GRY</button>
                  </form>
                  
            
            {%endif%}
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>

  
  
  </main>
  
  <!-- Core -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/popper/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="/assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="/assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.js?v=1.0.1"></script>
  <script>
  function myFunction(){ 
      var table = document.getElementById("players_table");
  
      setInterval(function(){
    fetch("/room/{{room.id}}/view/json")
    .then(resp => resp.json())
    .then(resp => {
         console.log(resp);
        
                console.log(resp.length);
                console.log(table.rows.length);
            if(resp.length!=(table.rows.length-1)){
                location.reload();
                //table.innerHTML="";
        {#resp.forEach(user => {
            var newRow = table.insertRow(table.length);
            newRow.class = "text-nowrap";
            newRow.scope = "row";
            newRow.innerHTML = user.Name;
        }      
            )#}}
    })},1000);

    setInterval(function(){
    fetch("/room/{{room.id}}/game/start")
    .then(resp => resp.json())
    .then(resp => {
         //console.log(resp);
        if(resp==1){
            window.location="/room/{{room.id}}/game/";
        }
                
            
    })},1000);
    }


    </script>
</body>

</html>
