No ogólnie to nie chce mi się póki co jakoś ładnie tego robić także ten xD<br>

Przedstawiam Alkokarty - aplikację dla osób które chcą z przytupem rozpocząć domówkę. Wystarczy telefon z dostępem do internetu i już każdy może grać<br>
Pamiętajcie, żebyście wszyscy siedzieli najlepiej przy jednym stole i żeby każdy mógł widzieć wszystkich. Instrukcja obsługi:<br>

1. Logujesz się swoim ukochanym nickiem<br>
2a Zakładasz nowy pokój dla znajomych i ustawiasz na nim hasło, żeby nikt inny nie wszedł, po czym podajesz nazwę i hasło znajomym żeby momgli wejść<br>
2b Jeśli pokój już ktoś stowrzył to po prostu wchodzisz do pokoju w którym są Twoi znajomi<br>
3. Jak są wszyscy to założyciel pokoju wpisuje ilość kart jaka ma być grana i zaczynamy gierkę!!!<br>


Kolejna karta może zostać wybrana tylko przez osobę która jest teraz i tylko wtedy gdy podświetla się jej imię na zielono.<br>
Wtedy wystarczy wcisnąć kartę i pokaże się kolejna. Opis kart:<br>
<br>
2 - "Two is for you"    - Wybierasz osobę która pije poprzez wciśnięcie przycisku Wybierz.<br>
3 - "Three is for me"   - Ty pijesz<br>
4 - "Four to the flor"  - Wszyscy kładą ręce na kolana, osoba która zrobi to jako ostatnia pije. <br>
                          Takową osobę trzeba wskazać poprzez wciśnięcie przycisku Wybierz.<br>
5 - "Five for guys"     - Wszyscy faceci piją.<br>
6 - "Six for chicks"    - Wszystkie kobiety piją.<br>
7 - "Seven to heaven"   - Analogicznie jak 4, tylko wszyscy ręcę w górę.<br>
8 - "Eight is for mate" - Karta zabójca. Możesz przekazać komuś tę kartę poprzez wciśnięcie przycisku Wybierz. <br>
                          Od tej pory wybrana przez Ciebie osoba pije za każdym razem kiedy Ty pijesz, nie licząc powtórzeń znaku (o tym potem)<br>
9 - "Nine is for ryme"  - Osoba która wylosowała tę kartę podaje słowo i każda po niej ma podać rym do niej,<br>
                          jednocześnie powtarzając wszystkie rymy wcześniej. Pierwsza osoba która się pomyli albo poda słowo które już było pije.<br>
                          Takową osobę wybiera się poprzez wciśnięcie przycisku Wybierz. <br>
10 - "Brak"             - Osoba która wylosowała kartę podaję kategorię np. marki wódki oraz podaję pierwsze słowo z danej kategorii.<br>
                          Każda kolejna osoba musi podać kolejne zagadanienie z danej kategorii. Pierwsza która sie pomyli bądź poda coś co już było pije.<br>
                          Nie trzeba powtarzać wszystkich poprzednich. Osobę która pije wybieramy poprzez wciśnięcie przycisku Wybierz.<br>
J - "Never have I ever" - Osoba która wylosowała tę kartę mówi coś czego nigdy nie robiła, a każdy na swoim urządzeniu musi odpowiedzieć na pytanie czy to robił.<br>
                          Jeśli tak to pije.<br>
Q - "Brak"              - Karta zabójca vol 2. Osoba która wylosowała tę kartę zatrzymuje ją. Od tej pory każdemu wyświetla się kto ma damę, <br>
                          a osobie która ją ma przycisk pozwalający jej użyć. Od tej pory nikt nie może odpowiedzieć na pytanie osoby która ma damę. Na żadne pytanie.<br>
                          Pytania typu "Która godzina?" też się liczą. Każdy kto odpowie na pytanie pije. Takowe osoby wskazuje osoba posiadająca damę, poprzez jej użycie.<br>
                          Może być tylko jedna dama w grze, w przeciwieństwie do ósemek, które zostają do końca gry.<br>
K - "Brak"              - I tu będzie wytłumaczenie znaku. Przed kazdym wypiciem trzeba zrobić znak. Przed KAŻDYM. Domyślny znak to klepnięcie się w czoło.<br>
                          Jeśli ktoś nie zrobi znaku to trzeba mu o tym przypomnieć, ale apka zrobi to sama. Taki osobnik musi pić dopóki takiego znaku nie zrobi.<br>
                          Król pozwala zmienić znak.<br>
A - "Brak"              - Przerwa.<br>
<br>

Przycisk Wybierz pojawi się 5 sekund od wylosowania karty. Kolejną kartę będzie można wcisnąć dopiero wtedy gdy wszystkie osoby które mają pić zadeklarują się że wypiły.<br>
Życzę miłej gry i zapraszam na stronę na fb. <br>
Na koniec gry czeka Was mała niespodzianka.<br> 
<a href="/" type="button">Powrót</a>
